html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  /*background-color: rgb(196, 226, 255);*/
  background-image: url("./background.png");
}

img {
  width: 100%;
}

#root {
  width: 100%;
  position: absolute;
  min-height: 100%;
  height: 100%;
}
.App {
  min-height: 100%;
  height: 100%;
  text-align: center;
}

.Container {
  width: 90%;
  min-height: 100%;
  margin: auto;
  background-color: white;
}

.Header h1 {
  font-family: "Bodoni MT";
  padding: 1%;
}

.Header {
  width: 90%;
  margin: auto;
}

.AutoCompleteSearch {
  width: 90%;
  margin: auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
  position: relative;
}

.AutoCompleteSearch input {
  width: 100%;
  border: 1px solid gray;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
  padding: 10px 5px;
  box-sizing: border-box;
  position: relative;
}

.AutoCompleteSearch .ClearSearch {
  position: absolute;
  z-index: 1;
  cursor: default;
  width: 25px;
  height: 25px;
  right: 1%;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 170%;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #cfcece;
}

.AutoCompleteSearch ul {
  position: absolute;
  z-index: 1;
  list-style-type: none;
  text-align: left;
  margin: auto;
  padding: 0;
  border: 1px solid gray;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  width: 100%;
  background-color: white;
  left: 50%;
  transform: translate(-50.0005%, 0);
  max-height: 180px;
  overflow: auto;
}

.AutoCompleteSearch ul::before {
  content: "";
}

.AutoCompleteSearch li {
  padding: 10px 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.AutoCompleteSearch li:hover {
  text-decoration: underline;
  color: white;
  background-color: rgba(38, 38, 114, 0.92);
}

/* Add mouse hover effect for buttons. For some reason still works on some mobile devices.*/
@media (pointer: fine) {
  .AutoCompleteSearch .ClearSearch:hover {
    color: white;
    background-color: #4bd5ff;
  }

  .AutoCompleteSearch .ClearSearch:active {
    transform: translateY(2px);
  }
}
