html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  /*background-color: rgb(196, 226, 255);*/
  background-image: url("./background.png");
}

img {
  width: 100%;
}

#root {
  width: 100%;
  position: absolute;
  min-height: 100%;
  height: 100%;
}
.App {
  min-height: 100%;
  height: 100%;
  text-align: center;
}

.Container {
  width: 90%;
  min-height: 100%;
  margin: auto;
  background-color: white;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2vw;
}

.BodoniHeader {
  font-family: "Bodoni MT";
  padding: 1%;
}

.Header h1 {
  font-family: "Bodoni MT";
  padding: 1%;
}

.Header {
  width: 90%;
  font-family: "Serif";
  margin: auto;
}

footer {
  bottom: 0;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1vw;
}

.AutoCompleteSearch {
  width: 90%;
  margin: auto;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
  position: relative;
}

.AutoCompleteSearch input {
  width: 100%;
  border: 1px solid gray;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
  padding: 10px 5px;
  box-sizing: border-box;
  position: relative;
}

.AutoCompleteSearch .ClearSearch {
  position: absolute;
  z-index: 1;
  cursor: default;
  width: 25px;
  height: 25px;
  right: 1%;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 170%;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid #cfcece;
}

.AutoCompleteSearch ul {
  position: absolute;
  z-index: 1;
  list-style-type: none;
  text-align: left;
  margin: auto;
  padding: 0;
  border: 1px solid gray;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  width: 100%;
  background-color: white;
  left: 50%;
  transform: translate(-50.0005%, 0);
  max-height: 180px;
  overflow: auto;
}

.AutoCompleteSearch ul::before {
  content: "";
}

.AutoCompleteSearch li {
  padding: 10px 5px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.AutoCompleteSearch li:hover {
  text-decoration: underline;
  color: white;
  background-color: rgba(38, 38, 114, 0.92);
}

.Options {
  width: 90%;
  margin: auto;
}

.OptionsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  width: 100%;
}

.IVWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  width: 100%;
}

.Box {
  border: 1px solid black;
  background-color: #ffd4d4;
  box-sizing: border-box;
  margin: auto;
  padding: 0.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-flow: wrap;
  width: 48%;
}

.Box-Wide {
  border: 1px solid black;
  background-color: #ffd4d4;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
}

.Box-Wide-Div {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.OptionsHeader {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.Box input {
  width: 45%;
  border: 1px solid gray;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px 1px rgba(0, 0, 0, 0.18);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.73);
  box-sizing: border-box;
  padding: 1%;
}

.buttonSort {
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 10vw;
  font-size: 1vw;
  margin: 4px 2px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.highlighted {
  background-color: rgb(0, 250, 21);
  border: 2px solid white;
}

.notHighlighted {
  background-color: #af4c4c;
  border: 2px solid gray;
}

/* Add mouse hover effect for buttons. For some reason still works on some mobile devices.*/
@media (pointer: fine) {
  .AutoCompleteSearch .ClearSearch:hover {
    color: white;
    background-color: #4bd5ff;
  }

  .AutoCompleteSearch .ClearSearch:active {
    transform: translateY(2px);
  }

  .buttonSort:hover {
    background-color: rgb(0, 250, 21);
    border: 2px solid white;
  }

  .buttonSort:active {
    background-color: rgb(171, 241, 177);
    box-shadow: none;
    transform: translateY(2px);
  }

  .buttonManual:hover {
    background-color: #2b9dfa;
    border: 2px solid white;
  }

  .buttonReset:hover {
    background-color: #fc4949;
    border: 2px solid white;
  }

  .modal .close:hover {
    color: white;
    background-color: #4bd5ff;
  }
}

.TypeIcon {
  width: 20%;
  height: 20%;
}

@media only screen and (max-height: 600px) and (orientation: portrait) {
  .modal {
    height: 120vw;
  }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
  .modal {
    height: 40vw;
  }
}
